.title {
  font-size: 3rem;
  color: $pink;
  font-weight: bold;
  margin-top: 1.25rem;
}

.subTitle {
  margin-top: 1.25rem;
  color: $sky;
  font-size: 2rem;
  font-weight: bold;
}
.contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  height: calc(100% - 100px);
}
.maintoplist {
  height: 50%;
}
.maintoplist h1 {
  color: $sky;
  font-size: 1.5rem;
  font-weight: bold;
}
.maintoplist .topcontent {
  background-color: $bgsecond;
  border-radius: 10px;
  height: 93%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
  padding: 30px;
}
.topcontent::-webkit-scrollbar {
  display: none;
}
.mainTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.mainplaylist {
  margin-top: 10px;
  height: 50%;
}
.mainplaylist h1 {
  color: $sky;
  font-size: 1.5rem;
  font-weight: bold;
}
.mainplaylist .playlistcontent {
  background-color: $bgsecond;
  border-radius: 10px;
  height: 93%;
  overflow-y: scroll;
  padding: 30px;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.playlistcontent::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .contents {
    display: flex;
    height: 93%;

    justify-content: space-between;
    flex-direction: initial;
  }
  .maintoplist {
    height: 96%;
    width: 48%;
  }
  .mainplaylist {
    height: 96%;
    width: 48%;
  }
  .mainplaylist h1 {
    color: $sky;
    font-size: 2rem;
    font-weight: bold;
  }
  .maintoplist h1 {
    color: $sky;
    font-size: 2rem;
    font-weight: bold;
  }
}
