.listmusic {
  padding: 20px;
  border-radius: 10px;
  background-color: $bgsecond;
  height: 100%;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.listmusic::-webkit-scrollbar {
  display: none;
}

.lists span {
  color: $pink;
  font-weight: bold;
}
.list {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.list:last-child {
  margin-bottom: 0;
}
.leftContainer {
  display: flex;
  align-items: center;
}
.rightContainer {
  display: flex;
  gap: 30px;
  position: relative;
}
.leftContainer .rank {
  width: 11px;
  margin-right: 12px;

  text-align: center;
}
.rank span {
  color: $sky;
  font-size: 0.75rem;
}
.thumbContainer {
  width: 60px;
  height: 60px;
  border: 2px solid #c0c0ff;
  margin-right: 20px;
  border-radius: 4px;
}
.thumbContainer .thumbAlbum {
  width: 60px;
  height: 60px;
}
.albuminfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}
.albuminfo span:last-child {
  color: $white;
  font-weight: 400;
  font-size: 12px;
}

.btn {
  display: none;
}
.btn a {
  color: white;
  font-weight: bold;
}

.listnerTitle {
  font-size: 0.625rem;
  color: $sky;
}
.listnercount {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 0.825rem;
  color: $sky;
}

.smMoreBtn {
  display: block;
  color: white;
}
.smContainer {
  width: 70px;
  height: 30px;
  position: absolute;
  display: block;
  top: 33px;
  right: -1px;
  padding: 10px;
  display: none;
  background-color: $bg2;
  border-radius: 10px;
  gap: 10px;
}
.smBtn {
  background-color: $pink;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  display: block;
  width: 30px;
  height: 30px;
}
@media (min-width: 1024px) {
  .listmusic {
    padding: 30px;
    border-radius: 10px;
    background-color: $bgsecond;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .listmusic::-webkit-scrollbar {
    display: none;
  }

  .albuminfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
  }
  .albuminfo span:last-child {
    color: $white;
    font-weight: 400;
    font-size: 1rem;
  }
  .leftContainer .rank {
    width: 20px;
    margin-right: 30px;
    text-align: center;
  }
  .rank span {
    color: $sky;
    font-size: 1rem;
  }
  .listnerTitle {
    font-size: 0.825rem;
    color: $sky;
  }
  .listnercount {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    color: $sky;
  }
  .btn {
    background-color: $pink;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: block;
  }
  .smContainer {
    display: none;
  }
  .smMoreBtn {
    display: none;
  }
}
