.player {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgsecond;
  width: 97%;
  height: 100px;
  // display: none;
}

.boxs {
  background-color: $pink;
  outline: none;
  border: none;
  color: white;
  padding: 10px;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.default svg {
  width: 100px;
  height: 100px;
}
.video_container iframe {
  // width: 100%;
  // height: 180px;
}
@media (min-width: 768px) {
  // .video_container iframe {
  //   width: 550px;
  //   height: 300px;
  // }
  // .default svg {
  //   width: 250px;
  //   height: 250px;
  // }
  // .player {
  //   height: 32vh;
  // }
}
