.player {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgsecond;
  height: 376px;
}

.boxs {
  background-color: $main;
  outline: none;
  border: none;
  color: white;
  padding: 10px;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.video_container iframe {
  width: 350px;
  height: 380px;
}
@media (min-width: 768px) {
  .video_container iframe {
    width: 550px;
    height: 370px;
  }
}
