// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";
@import "./player.scss";
@import "./listmusic.scss";
// Components
// Example: @import "./components/message.scss";
// Screens
// Example: @import "./screens/search.scss";
// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  // max-width: 400px;
  // margin: 0 auto;
}
section {
  position: relative;
  margin-right: 5px;
  float: right;
  width: 82%;
}
@media (min-width: 768px) {
  section {
    margin-right: 20px;
  }
  // main {
  //   max-width: 600px;
  //   margin: 0 auto;
  // }
  // header a .title {
  //   font-size: 3rem;
  //   color: $main;
  //   font-weight: bold;
  //   margin: 0.725rem 5rem;
  // }
}

.sidebar {
  position: fixed;
  width: 15%;
  height: 100vh;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #3b3f88;
}
.nav {
  margin-top: 38px;
  margin-left: 25px;
}

.container {
  // height: 100vh;
  // width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  justify-content: center;
}
.title {
  font-size: 3rem;
  color: $pink;
  font-weight: bold;
  margin-top: 1.25rem;
}

.subTitle {
  margin-top: 1.25rem;
  color: $sky;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  color: $pink;
  font-weight: bold;
  margin: 1.5rem;
}
