// Config
@import "./config/_variables.scss";
@import "./auth.scss";
@import "./config/_reset.scss";
@import "./player.scss";
@import "./listmusic.scss";
@import "./nav.scss";
@import "./home.scss";
// Components
// Example: @import "./components/message.scss";
// Screens
// Example: @import "./screens/search.scss";
// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  // max-width: 400px;
  // margin: 0 auto;
}
section {
  position: relative;
  margin-right: 5px;
  left: 78px;
  width: calc(100% - 78px);
  position: relative;
  background-color: $bg;
  min-height: 100vh;
  top: 0;
  z-index: 2;
}
.container {
  padding: 0px 40px 20px 50px;
  height: 97vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer {
  color: $pink;
  font-weight: bold;
  margin: 1.5rem;
}
@media (min-width: 1024px) {
  section {
    width: calc(100% - 250px);
    left: 250px;
  }

  // main {
  //   max-width: 600px;
  //   margin: 0 auto;
  // }
  // header a .title {
  //   font-size: 3rem;
  //   color: $main;
  //   font-weight: bold;
  //   margin: 0.725rem 5rem;
  // }
}
