doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="icon", href="/static/assets/favicon.ico")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
            block content
        
    script(src="/static/js/main.js") 
    script(src="/static/js/nav.js") 

    block scripts