extends base
include mixins/li.pug
include mixins/player.pug
block content

    div.container
        +player
        div.listmusic
            ul.lists
                each item, index in songs
                    +musiclist(item, index)