doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        div.authContainer
            div.authtitle
                svg( xmlns="http://www.w3.org/2000/svg"  width="64" height="64" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(data-name="layer1" d="M47.5 26.5l-2.6.3a35.9 35.9 0 0 1-13-21.3h3.6a2 2 0 1 0 0-4h-14a2 2 0 0 0 0 4h3.1c-10 11.2-11 25.9-11.1 29.3a14 14 0 1 0 4-.3c.2-3.6 1.4-17.3 10.7-27.1a40.4 40.4 0 0 0 12.4 20.9 14 14 0 1 0 6.9-1.8z" fill="#ff458b" )
                h1 Cherry Music
            h2=pageTitle
            div.inputContainer
                form(method="POST")
                    p ID
                    input(class="inputValue", name="userid",placeholder="User ID", required, maxlengh=20 autocomplete="off")
                    p Password
                    input(class="inputValue", name="password",placeholder="Password", required, maxlengh=20, type="password")
                    if(errorMessage)
                        span.errorMessage=errorMessage
                    input(class="subBtn" value="Log In" type="submit")
                div.authLink
                    span  Don't have an account?
                    a(href="/join") JOIN
