extends base
include mixins/toplist.pug
include mixins/player.pug
block content
    section
        div.container
            h2.subTitle Cherry Top 100
            +player
            button.pause Pause
            button.play Play
            div.listmusic
                ul.lists
                    each item, index in songs
                        +toplist(item, index)
block scripts
    script(src="/static/js/musicPlayer.js")
    script(src="/static/js/playList.js")

